@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1 {
  @apply text-6xl font-bold md:text-7xl;
}

h2 {
  @apply text-5xl font-bold md:text-6xl;
}

h3 {
  @apply text-4xl font-semibold md:text-5xl;
}

h4 {
  @apply text-3xl font-semibold md:text-4xl;
}

h5 {
  @apply text-2xl font-semibold md:text-3xl;
}

h6 {
  @apply text-xl font-semibold md:text-2xl;
}

button {
  @apply cursor-pointer;
}

button[component="SignInButton"],
button[component="SignUpButton"],
input[type="submit"],
.primary-button {
  @apply flex-grow cursor-pointer border-1 border-yellow-500 bg-red-800 px-4 py-2 text-center shadow-sm shadow-yellow-700 duration-300 hover:bg-red-700 hover:px-10;
}

.safe-area {
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}

input[type="text"],
input[type="number"],
select,
textarea {
  @apply bg-black p-2 focus:ring-1 focus:ring-yellow-500 focus:outline-none;
}

select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
  padding-right: 2rem;
}

.disable-scrollbars::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
