@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1 {
  @apply text-6xl md:text-7xl font-bold;
}

h2 {
  @apply text-5xl md:text-6xl font-bold;
}

h3 {
  @apply text-4xl md:text-5xl font-semibold;
}

h4 {
  @apply text-3xl md:text-4xl font-semibold;
}

h5 {
  @apply text-2xl md:text-3xl font-semibold;
}

h6 {
  @apply text-xl md:text-2xl font-semibold;
}

button[component="SignInButton"],
button[component="SignUpButton"] {
  @apply bg-red-800 border-yellow-500 border-2 shadow-sm shadow-yellow-500 px-4 py-2 text-xl flex-grow hover:bg-red-700 duration-300;
}
